appdirs==1.4.4
astunparse==1.6.3
cached-property==1.5.2
certifi==2021.5.30
cfgv==3.3.0
distlib==0.3.2
filelock==3.0.12
flatbuffers==1.12
gast==0.4.0
google-pasta==0.2.0
h5py==3.1.0
identify==2.2.10
importlib-metadata==4.6.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
nodeenv==1.6.0
opt-einsum==3.3.0
pre-commit==2.13.0
python-dotenv==0.18.0
PyYAML==5.4.1
six==1.16.0
tensorboard==2.5.0
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
toml==0.10.2
typing-extensions==3.7.4.3
virtualenv==20.4.7
wincertstore==0.2
wrapt==1.12.1
zipp==3.5.0
